@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background: #626cd6;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.login_form {
    width: 100%;
    max-width: 435px;
    background: #fff;
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.login_form h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.login_option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.login_option .option {
    width: calc(100% / 2 - 12px);
}

.login_option .option a {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #F8F8FB;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    margin: 34px 0 24px 0;
    text-decoration: none;
    color: #171645;
    font-weight: 500;
    transition: 0.2s ease;
}

.login_option .option a:hover {
    background: #ededf5;
    border-color: #626cd6;
}

.login_option .option a img {
    max-width: 25px;
}
.login_option .option  .apple-logo {
    max-width: 50px;
    
}
.login_form p {
    text-align: center;
    font-weight: 500;
}

.separator {
    position: relative;
    margin-bottom: 24px;
}

.separator span {
    background: #fff;
    z-index: 1;
    padding: 0 10px;
    position: relative;
}

.separator::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 1px;
    background: #C2C2C2;
    display: block;
}

.input_box {
    position: relative;
    margin-bottom: 25px;
}

.input_box label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
}

.input_box input {
    width: 100%;
    height: 57px;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    outline: none;
    background: #F8F8FB;
    font-size: 17px;
    padding: 0 20px;
    transition: 0.2s ease;
}

.input_box input:focus {
    border-color: #626cd6;
}

.password_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

form a {
    text-decoration: none;
    color: #626cd6;
    font-weight: 500;
    font-size: 0.9rem;
}

form a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #626CD6;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 28px;
    transition: 0.3s ease;
}

form button:hover {
    background: #4954d0;
}

.sign_up {
    text-align: center;
    font-size: 0.95rem;
}

.sign_up a {
    color: #626cd6;
}